<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

	<!-- Directory structure -->
	<Fragment>
		<Directory Id="MYTARGETDIR" Name=".">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="MYINSTALLFOLDER" Name="SurfVpnClientTest1" />
			</Directory>
			<Directory Id="MYDESKTOPFOLDER" Name="Desktop" />
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="TopVpnInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<!-- Application files -->
	<Fragment>
		<ComponentGroup Id="ExampleComponents" Directory="MYINSTALLFOLDER">

			<Component Id="AppExe" Guid="*">
				<File Source="..\publish\SurfVpnClientTest1.exe" KeyPath="yes" />
			</Component>

			<Component Id="PDB" Guid="*">
				<File Source="..\publish\SurfVpnClientTest1.pdb" KeyPath="yes" />
			</Component>

			<Component Id="VCR" Guid="*">
				<File Source="..\publish\vcruntime140_cor3.dll" KeyPath="yes" />
			</Component>

			<Component Id="WPF" Guid="*">
				<File Source="..\publish\wpfgfx_cor3.dll" KeyPath="yes" />
			</Component>

			<Component Id="Presenation" Guid="*">
				<File Source="..\publish\PresentationNative_cor3.dll" KeyPath="yes" />
			</Component>

			<Component Id="COR3" Guid="*">
				<File Source="..\publish\PenImc_cor3.dll" KeyPath="yes" />
			</Component>

			<Component Id="D3D" Guid="*">
				<File Source="..\publish\D3DCompiler_47_cor3.dll" KeyPath="yes" />
			</Component>

			<!-- Icon File -->
			<Component Id="AppIcon" Guid="*">
				<File Id="AppIconFile" Source=".\icon.ico" KeyPath="yes" />
			</Component>

			<!-- Shortcuts component -->
			<Component Id="AppShortcuts" Guid="*">
				<!-- Desktop Shortcut -->
				<Shortcut Id="DesktopShortcut"
						  Directory="MYDESKTOPFOLDER"
						  Name="SurfVpnClientTest1"
						  Description="Launch SurfVpnClientTest1"
						  Target="[MYINSTALLFOLDER]SurfVpnClientTest1.exe"
						  WorkingDirectory="MYINSTALLFOLDER"
						  Icon="AppIcon" />

				<!-- Start Menu Shortcut -->
				<Shortcut Id="StartMenuShortcut"
						  Directory="ApplicationProgramsFolder"
						  Name="SurfVpnClientTest1"
						  Description="Launch SurfVpnClientTest1"
						  Target="[MYINSTALLFOLDER]SurfVpnClientTest1.exe"
						  WorkingDirectory="MYINSTALLFOLDER"
						  Icon="AppIcon" />

				<!-- Remove Start Menu folder on uninstall -->
				<RemoveFolder Id="RemoveStartMenuFolder"
							  On="uninstall"
							  Directory="ApplicationProgramsFolder" />

				<!-- Registry value to act as KeyPath -->
				<RegistryValue Root="HKCU"
							   Key="Software\TopVpnInstaller"
							   Name="shortcutsinstalled"
							   Type="integer"
							   Value="1"
							   KeyPath="yes" />
			</Component>

		</ComponentGroup>
	</Fragment>

	<!-- Feature definition -->
	<Fragment>
		<Feature Id="MainFeature" Title="SurfVpnClientTest1" Level="1">
			<ComponentGroupRef Id="ExampleComponents" />
		</Feature>
	</Fragment>

	<!-- Declare the Icon -->
	<Fragment>
		<Icon Id="AppIcon" SourceFile=".\icon.ico" />
	</Fragment>

</Wix>