<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

	<Product Id="*" Name="TopVpnInstaller" Language="1033" Version="1.0.0.0"
			 Manufacturer="TopVpnServers" UpgradeCode="022a78e0-d3bb-40c5-93bf-65d9da98d2b7">

		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="TopVpnInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

	</Product>

	<Fragment>
		<StandardDirectory Id="ProgramFilesFolder">
			<Directory Id="INSTALLFOLDER" Name="TopVpnInstaller" />
		</StandardDirectory>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="AppExe" Guid="*">
				<File Source="C:\git\topvpnserversclient\SurfVpnClientTest1\publish\SurfVpnClientTest1.exe" KeyPath="yes" />
			</Component>
			<Component Id="AppDeps" Guid="*">
				<File Source="C:\git\topvpnserversclient\SurfVpnClientTest1\publish\SurfVpnClientTest1.deps.json" />
			</Component>
			<Component Id="AppRuntimeConfig" Guid="*">
				<File Source="C:\git\topvpnserversclient\SurfVpnClientTest1\publish\SurfVpnClientTest1.runtimeconfig.json" />
			</Component>
			<Component Id="AppDLL" Guid="*">
				<File Source="C:\git\topvpnserversclient\SurfVpnClientTest1\publish\SurfVpnClientTest1.dll" />
			</Component>
			<Component Id="SystemTextJson" Guid="*">
				<File Source="C:\git\topvpnserversclient\SurfVpnClientTest1\publish\System.Text.Json.dll" />
			</Component>
			<Component Id="NewtonsoftJson" Guid="*">
				<File Source="C:\git\topvpnserversclient\SurfVpnClientTest1\publish\Newtonsoft.Json.dll" />
			</Component>
			<Component Id="AppConfig" Guid="*">
				<File Source="C:\git\topvpnserversclient\SurfVpnClientTest1\publish\appsettings.json" />
			</Component>
		</DirectoryRef>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents">
			<ComponentRef Id="AppExe" />
			<ComponentRef Id="AppDeps" />
			<ComponentRef Id="AppRuntimeConfig" />
			<ComponentRef Id="AppDLL" />
			<ComponentRef Id="SystemTextJson" />
			<ComponentRef Id="NewtonsoftJson" />
			<ComponentRef Id="AppConfig" />
		</ComponentGroup>
	</Fragment>

</Wix>