<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Id="TODO_Manufacturer.WixTutorialPackage" Name="TopVpn" Manufacturer="Top Vpn Servers" Version="1.0.0.0" UpgradeCode="b13dcf93-d37f-4c6f-b67b-280e0051c511">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <ui:WixUI Id="WixUI_Minimal" />

    <!-- Install OpenVPN first, then our application -->
    <Chain>
      <PackageGroupRef Id="OpenVPNPackage" />
      
      <MsiPackage SourceFile="$(var.TargetPath)">
        <MsiProperty Name="INSTALLFOLDER" Value="[INSTALLFOLDER]" />
      </MsiPackage>
    </Chain>

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>
</Wix>
